<template>
  <footer class="o-footer">
    <div class="o-footer-bottom">
      <div class="container-md">
        <ul class="nav flex-column flex-md-row">
          <li class="nav-item mb-2 mt-1 mr-3 my-md-0 align-self-md-center">
            {{ $t("footer.release") }} {{ version }}
          </li>
          <!--          <li class="nav-item mb-2 mt-1 my-md-0"><a class="nav-link" href="#">TO DO</a></li>-->
        </ul>
      </div>
    </div>
  </footer>
</template>

<script>
import axios from "axios";

export default {
  name: 'Footer',
  data() {
    return {
      version: "",
    }
  },
  props: {},

  mounted() {
    // APEXCHART
    axios
        .get('/api/version')
        .then(response => (this.version = response.data.version))
  }
}
</script>

<style scoped>
</style>
