<template>
  <header role="banner" class="container">
    <div class="bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
  </header>
  <article>
    <CurrentMeasure/>
  </article>
  <div>
    <Footer></Footer>
  </div>
</template>

<script>
import Footer from "@/components/Footer";
import CurrentMeasure from "@/components/CurrentMeasure";

export default {
  name: 'App',
  components: {
    CurrentMeasure,
    Footer
  }
}

</script>

<style>
</style>
